{
  "hard_coded_contacts": [
    "149.248.63.13:5483",
    "45.76.106.252:5483",
    "64.156.14.91:5483",
    "45.63.70.19:5483",
    "95.179.170.150:5483",
    "217.69.9.58:5483",
    "108.61.212.76:5483",
    "66.42.49.45:5483"
  ],
  "whitelisted_node_ips": null,
  "whitelisted_client_ips": null,
  "tcp_acceptor_port": null,
  "service_discovery_port": null,
  "bootstrap_cache_name": null,
  "force_acceptor_port_in_ext_ep": false,
  "network_name": "tfa",
  "dev": null
}
