{
  "hard_coded_contacts": [
    "95.216.189.149:5483",
    "116.203.25.212:5483",
    "95.216.206.201:5483",
    "116.203.56.138:5483"
  ],
  "whitelisted_node_ips": null,
  "whitelisted_client_ips": null,
  "tcp_acceptor_port": 5483,
  "force_acceptor_port_in_ext_ep": true,
  "service_discovery_port": null,
  "bootstrap_cache_name": null,
  "network_name": "tfa",
  "dev": {
    "disable_external_reachability_requirement": false
  }
}
